@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body{
    background-color: #dedcf4;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-width: 280px;
    gap: .5rem;
    border-radius: .1rem;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}
h3{
    font-weight: bold;
}
p{
    font-size: .8rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

label{
    position: relative;
}
#check,#forgot,#checkbox,button{
    cursor: pointer;
}

#check{
    position: absolute;
    font-size: .55rem;
    left: .9rem;
    top:.4rem;
    
}

#forgot{
    position: absolute;
    font-size: .5rem;
    right: 2rem;
    bottom: 5.5rem;
    text-decoration: underline;
}
.box{
    height: 2rem;
    width: 12rem;
    padding:.5rem;
    font-size: .6rem;
    border:.1rem solid #756fad;
    outline: none;
    border-radius: .1rem;
    box-shadow: 0 1px 6px 0 rgba(205, 205, 205, 0.2);
}
button{
    height: 2rem;
    border: none;
    border-color: #756fad;
    background-color: #756fad;
    color: #fff;
    font-weight: bold;
    border-radius: .1rem;
    box-shadow: 0 1px 6px 0 rgba(205, 205, 205, 0.2);
}

.box:focus{
    border: 0;
    border:.11rem solid #4b4770;
    
}
